.text-d{
  text-align: right;
}

.text-c{
  text-align: center;
}

.link{
  text-decoration: none;
  color: black;
}

.link:hover{
  text-decoration: underline;
  color: rgb(0, 223, 30);
}

.titulo-cabecalho{
  font-size: 1.5em;
}

.card-cadastro{
  border: 1px solid rgb(0, 0, 0);
  margin-top: 8rem;
  margin-bottom: 5rem;
}

.cabecalho-card{
  border-bottom: 1px solid rgb(0, 0, 0);
  margin-bottom: 0.6rem;
  background-color: rgba(180, 180, 180, 0.404);
}

.titulo-card-cabecalho{
  font-size: 1.4rem;
}

.sub-titulo-card{
  font-size: 1.2rem;
  color: rgb(99, 99, 99);
}

.btn-navegacao{
  background: white;
}

.btn-verde{
  background: green;
  border:  1px solid green;
  color: white;
}

.btn-cinza{
  background: rgb(156, 156, 156);
  border:  1px solid rgb(156, 156, 156);
  color: white;
}

::-webkit-scrollbar {
    display: none;
}

