.text-d{
  text-align: right;
}

.titulo-cabecalho{
  font-size: 1.5em;
}

.card-cadastro{
  border: 1px solid black;
  margin-top: 8rem;
  margin-bottom: 5rem;
}

.cabecalho-card{
  border-bottom: 1px solid rgb(0, 0, 0);
  margin-bottom: 0.6rem;
  background-color: rgb(226, 226, 226);
}

.titulo-card-cabecalho{
  font-size: 1.4rem;
}

.sub-titulo-card{
  font-size: 1.2rem;
  color: rgb(99, 99, 99);
}

.btn-navegacao{
  background: white;
}

.btn-nav-proximo{
  background: none;
  border:  1px solid green;
  color: green;
}

.btn-nav-proximo:hover{
  background: green;
  border:  1px solid green;
  color: white;
}

.btn-nav-voltar{
  background: none;
  border:  1px solid rgb(156, 156, 156);
  color: rgb(156, 156, 156);
}

.btn-nav-voltar:hover{
  background: rgb(156, 156, 156);
  border:  1px solid rgb(156, 156, 156);
  color: white;
}

::-webkit-scrollbar {
    display: none;
}

